body {
  margin: 0;
  padding: 0;
 }
 
 a {
  text-decoration: none;
  color: black;
 }
 
 .header {
  display: inline-flex;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background-color: lavender;
  a:hover {
    color: red;
  }
 }
 
 .messages {
  margin: 40px auto;
  max-width: 500px;
  padding: 10px;
  text-align: center;
  height: 500px;
  background-color: aliceblue;
  overflow: scroll;
  
  .message {
    line-height: 10px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    .content {
      margin: 15px auto;
      width: 90%;
      height: 40px;
    }
    .btn {
      font-size: 12px;
      line-height: 20px;
      .edit-btn:hover {
        color: blue;
      }
      .delete-btn:hover {
        color: red;
      }
    }
  }
 }