<h1>メモ詳細</h1>
<%= @memo.content %>
<%= form_tag("/memos/#{@memo.id}", method: :patch) do %> 
 <textarea rows="10" cols="60" name="content"></textarea>
 <input type="submit" value="編集する">
<% end %>
<%= link_to 'トップページ', '/' %>